body {

width: 100vw;
height: 100vh;
position: relative;
display: flex;
justify-items: flex-start;
background: linear-gradient(
    45deg,
    #4158d0 0%, #4158d0 40%,
    #00ACC1 40%, #00ACC1 90%,
    #ffcc70 90%, #ffcc70 100%
  );
  background-attachment: fixed;
}



* {
  box-sizing: border-box;
}

h1 {
  margin-top: 30px;
  margin-left: 50px;
  color: #332A28;
  font-size: 300%;
}
h2 {
  margin-top: 30px;
  margin-left: 50px;
  color: #332A28;
}
h3 {
  padding-top: 15px;
  margin-left: 80px;
  color: #332A28;
  font-size: 170%;
}
a {
  text-decoration: none;
  color: #332A28;
}
.paragraph {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #332A28;
  
}
.rectangle_left {


width: 273px;
height: 20000px;
margin: 20px;

background: #D9D9D9;
opacity: 0.8;
}

.rectangle_big {

 
 width: 1300px;
 height: 20000px;
 margin-top: 20px;
 background: rgba(217, 217, 217, 0.8);
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first {
  margin-top: 200px;
  }
  
.image-logo {
  margin-bottom: 150px;
  margin-top: 30px;
  margin-left: 21px;
  width: 231px;
  height: 79px;
  
}
.rectangle_small {
display: flex;
flex-wrap: wrap;

width: 235px;
height: 38px;
background: #D4E6F1;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

margin-left: 15px;
text-align: left;
padding-left: 10px;
padding-top: 10px;
font-size: 18px;
font-weight: 550;
color: #332A28;
margin-bottom: 10px;
margin-top: 10px;

}

.rectangle-white {
  width: 378px;
  height: 378px;
  background: #ECF0F1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  
  
  
  
}
.makita {
width: 217px;
height: 219px;
margin-left: 79px;
margin-bottom: 10px;
}



.rectangle_small:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  border: 1px  #332A28 solid;
}
.rectangle-white:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  border: 1px  #332A28 solid;
}

.imagetools {
  height: 350px;
  width: 350px;
  margin-left: 35px;
  float: left;
  margin-right: 35px;
}
.captiontools {
  font-size: 200%;
  text-align: left;
  
}
p {
  font-size: 18px;
  color: #332A28;
  margin: 35px;
  line-height: 1.5;
}
.aftercaption {
text-transform: uppercase;
font-size: 100%;
line-height: 1;
}
.hrefinstruction {
  margin-left: 200px;
}
.hrefinstruction:hover {
  color: #138D75;
  font-size: 110%;
}
ul {
font-size: 18px;
line-height: 1.5;
margin-left: 30px;
}
ol {
font-size: 18px;
line-height: 1.5;
margin-left: 30px;
}
table {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 80px;
  background-color: #EBF5FB;
  color: #332A28;
  width: 80%;
  border: 1px solid #ECF0F1;
  border-collapse: collapse;
}
td {
  border-bottom:1px solid #7FB3D5;
}
.forhover:hover {
  background-color: #D6EAF8;
  transition: 0.3s;
}
.flammable {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
  height: 413px;
  width: 584px;
  opacity: 30%;
}
.crate {
  height: 584px;
  width: 413px;
  opacity: 30%;
}
.poster {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 645px;
  width: 909px;
  opacity: 30%;
}
.poster:hover {
  opacity: 100%;
  transition: 0.5s;  
  
}
.flammable:hover {
  opacity: 100%;
  transition: 0.5s;  
  
}
.crate:hover {
  opacity: 100%;
  transition: 0.5s;  
  
}
.clothers {
  margin-bottom: 25px;
  width: 1105px;
  height: 700px;
  background: #E4EFF7;

}
.clothersimage {
  height: 500px;
  width: 245px;
  margin-left: 25px;
}
.shoes {
  height: 300px;
  width: 450px;
  margin-left: 25px;
}
.tshots {
  
  height: 400px;
  width: 270px;
  margin-left: 25px;
  
}
